devices/sd.img
tools/
devices/sd.img
devices/uImage
devices/p2
devices/p1
devices/rootfs
qemu/libslirp/
qemu/arm/gcc-linaro-7.5.0-2019.12-x86_64_arm-linux-gnueabi/gcc-linaro-7.5.0-2019.12-linux-manifest.txt
qemu/arm/arm-linux-gnueabi
qemu/arm/gcc-linaro-7.5.0-2019.12-x86_64_arm-linux-gnueabi
qemu/output