.git/objects/pack/pack-b5c7a8e61e9ee3bad3969b38e42e1b7fb69a18d9.pack filter=lfs diff=lfs merge=lfs -text
linux-4.19/.tmp_vmlinux1 filter=lfs diff=lfs merge=lfs -text
linux-4.19/vmlinux.o filter=lfs diff=lfs merge=lfs -text
linux-4.19/.tmp_vmlinux2 filter=lfs diff=lfs merge=lfs -text
linux-4.19/vmlinux filter=lfs diff=lfs merge=lfs -text
rootfs filter=lfs diff=lfs merge=lfs -text
